/* HTML BODY */
body{
    background: rgb(0, 0, 0);
    color: whitesmoke;
}

h1{
    color: whitesmoke;
    font-family: "consalas", sans-serif;
}

h2{
    color: whitesmoke;
    font-family: "consalas", sans-serif;
}

h3{
    color: whitesmoke;
    font-family: "consalas", sans-serif;
}

h4{
    color: whitesmoke;
    font-family: "consalas", sans-serif;
}

p{
    color: whitesmoke;
    font-family: "consalas", sans-serif;
}

ul{
    color: whitesmoke
}

/* NAV-BAR */
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: gray;
}

.navbar li{
    float: left;
}

/* BUTTONS 
button{
    border-color: white;
    background-color: black;
    color: white;
}

button:hover{
    background-color: grey;
    color: white;
}

button:active{
    background-color: black;
    color: white;
}
*/

/* ICONS */
.devicon-github-original {
  font-size: 30px;
}

.devicon-powershell-plain{
  font-size: 30px;
}

/* FLOAT */
#float{
    float: left;
    padding: 20px;
}

/* ANIMATIONS */
#greet1{
    animation: slide;
    animation-duration: 3s
}

@keyframes slide{
    from{margin-left: 50%;}
    to{margin-right: 0%;}
}

/* SOCIAL */
.social{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 0px 20px 0px 20px
}

.social a{
    color: white;
    font-size: 28px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social a[href*="instagram.com"]:hover {
  color: #E1306C;
}

.social a[href*="x.com"]:hover {
  color: #1DA1F2;
}

.social a[href*="github.com"]:hover {
  color: #a9a9a9;
}