body{
    background: black;
}

h1{
    color: white;
    font-family: "consalas", sans-serif;
}

h2{
    color: white;
    font-family: "consalas", sans-serif;
}

h3{
    color: white;
    font-family: "consalas", sans-serif;
}

h4{
    color: white;
    font-family: "consalas", sans-serif;
}

p{
    color: white;
    font-family: "consalas", sans-serif;
}

ul{
    color: white
}

button{
    border-color: white;
    background-color: black;
    color: white;
}

button:hover{
    background-color: grey;
    color: white;
}

button:active{
    background-color: black;
    color: white;
}

.devicon-github-original {
  font-size: 30px;
}

.devicon-powershell-plain{
  font-size: 30px;
}

#float{
    float: left;
    padding: 20px;
}
#xp{
    border-color: white;
}
