body{
    background-color: black;
}

h1{
    color: white;
    font-family: "consalas", sans-serif;
    
}

h2{
    color: white;
    font-family: "consalas", sans-serif;
}

h3{
    color: white;
    font-family: "consalas", sans-serif;
}

h4{
    color: white;
    font-family: "consalas", sans-serif;
}

p{
    color: white;
    font-family: "consalas", sans-serif;
}

ul{
    color: white
}